%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      - @headings.each do |h|
        %th=h
  %tfoot
    %tr
      %td.left Totals
      - @totals.keys.sort.each do |k|
        %td= @totals[k]
      %td= @ds.count
  %tbody
    - @ds.each do |row|
      %tr{:class => cycle}
        %td.lnowrap= row[:name]
        %td= fmt_date row[:ap]
        %td= fmt_date row[:ew]
        %td= fmt_date row[:ng]
        %td= fmt_date row[:first_date]
%br
%a{:href=>'#wrapper'} Back to top

