%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      - @headings.each do |h|
        %th= h
  %tfoot
    %tr
      %td
      %td.left{:colspan => 3}= @footer
  %tbody
    - @ds.each do |row|
      %tr{:class => cycle}
        %td= row.bto_code
        %td.left= row.bird.name
        %td= fmt_date row.first_date
        %td= row.user_id
%br
%a{:href=>'#wrapper'} Back to top

