%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      - @headings.each do |h|
        %th= h
  %tfoot
    %tr
      %td
      %td.left Total species
      %td.right= @ds.count
  %tbody
    - @ds.each do |row|
      %tr{:class => cycle}
        %td= row.bto_code
        %td.left= row.bird.name
        %td.right= count_text row.species_count, row.qualifier
