%table.listing{:summary => @title}
  %thead
    %tr
      - @headings.each do |h|
        %th=h
  %tfoot
    %tr
      %td.left{:colspan => 3}= "Total Species:  #{@sightings.count}"
  %tbody
    - @sightings.each do |s|
      %tr{:class => cycle}
        %td.lnowrap= s.bird.name
        %td.cnowrap= s.first_date.strftime("%d-%m-%Y")
        %td.left= s.note
