=breadcrumb(request.request_uri)
%br
%br
%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      - @headings.each do |h|
        %th= h
  %tbody
    - @results.each do |row|
      %tr{:class => cycle}
        %td.left= row[:species]
        - @years.each do |year|
          %td= fmt_date row[year]
        %td.total= fmt_date row[:earliest]
        %td.total= fmt_date row[:latest]
%br
%p.reportnote= last_updated 

