%table.listing{:summary => @title}
  %caption First Observations
  %thead
    %tr
      - @headings.each do |h|
        %th=h
  %tbody
    - @first_obs.each do |ob|
      %tr{:class => cycle}
        %td.left= ob[:species]
        - @years.each do |year|
          %td= fmt_date ob[year]
        %td.total= fmt_date ob[:earliest]
        %td.total= fmt_date ob[:latest]
%br
%p.textnote
  = "Last updated: #{fmt_date @last_updated, "%d %B %Y"}"

