%table.listing{:summary => @title}
  %caption First Observations
  %thead
    %tr
      - @headings.each do |h|
        %th=h
  %tbody
    - @first_obs.each do |ob|
      %tr{:class => cycle}
        %td.left= ob[:species]
        - @years.each do |year|
          %td= ob[year]
        %td.total= ob[:earliest]
        %td.total= ob[:latest]
%br
%p.textnote
  Last updated: #{@last_updated.strftime("%d %B %Y")}

