%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      - @headings.each do |h|
        %th= h
  %tbody
    - @results.each do |row|
      %tr{:class => cycle}
        %td.left= row[:species]
        - @years.each do |year|
          %td= row[year]
%br
%p.textnote
  = "Last updated: #{fmt_date @last_updated, "%d %B %Y"}"

