=breadcrumb(request.request_uri)
%br
%br
%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      - @headings.each do |h|
        %th= h
  %tbody
    - @arr.each do |row|
      %tr{:class => cycle}
        %td.left= row[:species]
        - @years.each do |year|
          %td.right= row[year]
%br
%p.reportnote= last_updated 
