- @results.each do |bird|
  %table.listing{:summary => @title}
    %caption= bird[0][:species]
    %thead
      %tr
        - @headings.each do |h|
          %th=h
    %tbody
      - bird.each do |row|
        %tr{:class => cycle}
          %td.total= row[:winter]
          - @months.each do |m|
            %td= row[m]
          %td.total= row[:max];
  %br
%br
%p.textnote
  = "Last updated: #{fmt_date @last_updated, "%d %B %Y"}"

