=breadcrumb(request.request_uri)
%br
%br
- @results.each do |bird|
  %table.listing{:summary => @title}
    %caption= bird[0][:species]
    %thead
      %tr
        - @headings.each do |h|
          %th=h
    %tbody
      - bird.each do |row|
        %tr{:class => cycle}
          %td.total= row[:winter]
          - @months.each do |m|
            %td.right= row[m]
          %td.total= row[:max];
  %br
%br
%p.reportnote= last_updated 
