- @result.each do |v|
  %table.listing{:summary => @title}
    %caption= v[0][:species]
    %thead
      %tr
        - @headings.each do |h|
          %th=h
    %tbody
      - v.each do |w|
        %tr{:class => cycle}
          %td.total= w[:winter]
          - @months.each do |m|
            %td= w[m]
          %td.total= w[:max];
  %br
%br
%p.textnote
  = "Last updated: #{fmt_date @last_updated, "%d %B %Y"}"

